<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Password Reset</title>
</head>
<body>

<form th:action="@{/forgot-password}" method="post" th:object="${forgotPasswordDto}">
  <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
  <input type="email" name="username" th:placeholder="#{forgot.password.form.email.placeholder}" /><br/>
  <p th:errors="*{username}"></p><br />
  <button type="submit" th:text="#{forgot.password.form.submit}"></button>
</form>

</body>
</html>
