<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Password Reset</title>
</head>
<body>

<form th:action="@{/password-reset}" method="post" th:object="${passwordResetDto}">
  <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
  <input type="hidden" name="token" th:field="*{token}" />
  <input type="password" name="password" th:placeholder="#{login.form.password.placeholder}" autocomplete="false" /><br/>
  <button type="submit" th:text="#{forgot.password.form.submit}"></button>
</form>

</body>
</html>
